body {
    font-family: "Nunito", sans-serif;
}

.bg-detalle {
    background-image: url(../assets/img/mario-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-color: var(--color-dark);
    background-blend-mode: soft-light;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    align-items: center;
    padding: 2em;
    height: min-content;
    width: 100%;
}

.director-detalle {
    display: flex;
    flex-direction: column;
}
span>h6 {
    margin: 0;
}

.img-detalle {
    width: 200px;
    border-radius: 15px;
}

@media screen and (min-width: 900px) {
    .bg-detalle {
        flex-direction: row;
        justify-content: end;
        padding: 4em;
        height: 450px;
    }

    .img-detalle {
        width: auto;
        position: absolute;
        left: 150px;
        top: 100px;
        border-radius: 15px;
    }

    .texto-detalle {
        width: 50%;
    }

    .director-detalle {
        flex-direction: row;
        gap: 2em;
    }
}

#trailer {
    padding: 4em 2em;
    text-align: start;
}

#tabla {
    width: 100%;
    padding: 2em;
}

th {
    text-align: center;
}

@media screen and (min-width: 900px) {
    #tabla {
        width: 50%;
        margin: auto;
    }
}