:root {
    --color-dark: #280b45;
    --color-light: #c9c4c9;
    --color-principal: #c84771;
    --color-contraste: #61105e;
    --color-secundario: #ffe98a;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    position: relative;
    min-height: 100vh;
    /* max-height: fit-content; */
    background-color: var(--color-dark);
    color: var(--color-light);
}

body::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: var(--color-dark);
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: var(--color-contraste);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid var(--color-dark);
    /* creates padding around scroll thumb */
}

main {
    padding-bottom: 3em; 
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

/* Comienza estilos del Header */
header {
    background-color: var(--color-dark);
}
#logo {
    padding: 0.5em 1em;
}
._nav {
    padding: 0;
}
.menu {
    padding: 0.5em;
}
.menu:hover {
    background: linear-gradient(
        to bottom,
        var(--color-contraste),
        var(--color-principal)
    );
    margin: 0;
}

#btnLogin {
    background-color: var(--color-contraste);
}

/* Termina estilos del Header */

/* Comienza estilos del Hero */

#hero {
    height: 100vh;
    background-image: url(../assets/img/banner-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(40, 11, 69, 0.8);
    background-blend-mode: multiply;
    align-items: center;
}

._h1 {
    text-shadow: 0 0 10px var(--color-dark);
    font-family: "Nunito", sans-serif;
    font-weight: 500;
}

._h3 {
    font-family: "Nunito", sans-serif;
    font-weight: 200;
}

._btn {
    width: 120px;
    height: 50px;
    border-radius: 5px;
    color: var(--color-light);
    border: none;
}

.principal {
    background-color: var(--color-contraste);
}

._btn:hover {
    background: linear-gradient(
        to bottom,
        var(--color-contraste),
        var(--color-principal)
    );
    border: none;
}

._btn:active {
    background: transparent;
    border: 1px solid var(--color-secundario);
}

/* Termina estilos del Hero */

/* Comienza estilos del buscador */
#buscador {
    padding: 5em 0;
}

._h2 {
    font-family: "Nunito", sans-serif;
    font-weight: bold;
}

.span-search {
    display: flex;
    gap: 2em;
    justify-content: center;
    padding: 2em 0;
}

.search {
    width: 50%;
    background-color: rgba(255, 255, 255, 0.6);
    border: none;
    border-radius: 25px;
    padding: 0.5em 1em;
    font-size: large;
    color: white;
}
.search::placeholder {
    color: white;
}

.search:focus {
    outline-style: none;
}

@media screen and (max-width: 700px) {
    .span-search {
        flex-direction: column;
        align-items: center;
    }

    .search {
        width: 80%;
    }
}

.secundario {
    background-color: transparent;
    font-size: larger;
    border: 1px solid var(--color-light);
}

hr {
    border: 4px solid var(--color-light);
}
/* Termina estilos del buscador */

/* Comienza estilos de tendencias */
#tendencias {
    margin: 0 4em;
    padding: 4em 0 0;
}
.grilla-peliculas {
    margin: 0 auto;
}

.colum {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 2em 0;
}

.card {
    width: 12rem;
    height: fit-content;
    border: none;
    /* background-color: #280B45; */
    align-items: center;
}

.card:hover {
    width: 11rem;
    height: fit-content;
    box-shadow: 0 0 20px var(--color-secundario);
}

.tituloPelicula {
    z-index: 2;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    height: 16.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: transparent;
    border-radius: 5px;
}

.tituloPelicula:hover {
    color: #ffff;
    backdrop-filter: blur(10px);
}

.paginacion {
    display: flex;
    flex-direction: row;
    gap: 1em;
    width: 100%;
    justify-content: center;
    align-items: center;
}
/* Termina estilos de tendencias */

/* Comienza estilos de las mas aclamadas */
#aclamadas {
    align-items: center;
}

.pelis-aclamadas {
    width: 70%;
    height: 300px;
    margin: 0 5em;
    padding: 2em 3em;
    display: flex;
    flex-direction: row;
    gap: 5em;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    overflow-x: auto;
}

.pelis-aclamadas::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

.pelis-aclamadas::-webkit-scrollbar-track {
    background: var(--color-dark);
    /* color of the tracking area */
}

.pelis-aclamadas::-webkit-scrollbar-thumb {
    background-color: var(--color-principal);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid var(--color-dark);
    /* creates padding around scroll thumb */
}

/* Termina estilos de las más aclamandas */

/* Empieza estilos del footer */
footer {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
    background-color: var(--color-dark);
    margin: 2em 0 0 0;
    padding: 0;
}

footer > ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

@media screen and (min-width: 1000px) {
    footer > ul {
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
}


.link {
    display: block;
    height: auto;
    width: 100%;
    padding: 0.5em;
    text-decoration: none;
    color: var(--color-light);
}

/* Termina estilos del footer */

.btn-subir {
    color: var(--color-light);
    text-decoration: none;
    position: fixed;
    right: 0.5em;
    bottom: 0.5em;
    z-index: 4;
    font-size: xx-large;
}

/*estilos pagina login*/

#navLogin{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    width: 99vw;
    background-color: var(--color-dark);
    padding: 0;
} 


#navLogin > ul {
    display: flex;
    flex-direction: column;
    width: 99vw;
    list-style: none;
    padding: 0;
    margin: 0;
}

#bodyLogin {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    background-image: url(../assets/img/banner-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(40, 11, 69, 0.8);
    background-blend-mode: multiply;
}

.formLogin {
    align-self: center;
    background-color: #61105e;
    width: 30rem;
    height: 25rem;
    align-items: center;
    border-radius: 10px;
}

@media screen and (max-width: 500px) {
    .formLogin {
        width: 90%;
    }
}

form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 1.5rem;
}

#botonLogin{
    background-color: #280b45;
}

#botonLogin:hover {
    width: 11rem;
    height: fit-content;
    box-shadow: 0 0 20px var(--color-secundario);
}

#footer-login {
    position: absolute;
    bottom: 0;
}

