* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-dark : #280B45;
    --color-light: #fbf5f5;
    --color-principal: #C84771;
    --color-contraste: #61105E;
    --color-secundario: #FFE98A;
}

/* Comienza estilos del Header */

header {
    width: 100%;
    background-color: var(--color-dark);
    color: var(--color-light);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;    
}

#logo {
    margin: 0 1em;
    font-size: x-large;
}

#logo>a {
    text-decoration: none;
    list-style: none;
    color: var(--color-light);
}

nav>ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav>ul>li {
    padding: 1em;
    list-style: none;
}

ul>li>a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--color-light);
    text-decoration: none;
}

nav>ul>li:hover {
    background: linear-gradient(to right, var(--color-contraste), var(--color-principal));
}

/* Termina estilos del Header */

/* Comienza estilos del Hero */

#hero {
    height: 100vh;
    background-image: url(../assets/img/banner-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(40, 11, 69, 0.5);
    background-blend-mode: multiply;
}

/* Termina estilos del Hero */