:root {
    --color-dark : #280B45;
    --color-light: #c9c4c9;
    --color-principal: #C84771;
    --color-contraste: #61105E;
    --color-secundario: #FFE98A;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* Comienza estilos del Header */
header {
    background-color: var(--color-dark);
}
#logo {
    padding: 0.5em 1em;
}
._nav {
    padding: 0;
}
.menu {
    padding: 0.5em;
}
.menu:hover {
    background: linear-gradient(to bottom, var(--color-contraste), var(--color-principal));
    margin: 0;
}

/* Termina estilos del Header */

/* Comienza estilos del Hero */

#hero {
    height: 100vh;
    background-image: url(../assets/img/banner-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(40, 11, 69, 0.8);
    background-blend-mode: multiply;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--color-light);
    align-items: center;
}

._h1 {
    color: var(--color-light);
    text-shadow: 0 0 10px var(--color-dark);
    font-family: "Nunito", sans-serif;
    font-weight: 500;
}

._h3 {
    font-family: "Nunito", sans-serif;
}

._btn {
    width: 120px;
    height: 50px;
    background-color: var(--color-contraste);
    border-radius: 5px;
    color: var(--color-light);
    border: none;   
}

._btn:hover {
    background: linear-gradient(to bottom, var(--color-contraste), var(--color-principal));
    border: none;
}

._btn:active {
    background: transparent;
    border: 1px solid var(--color-secundario);
}

/* Termina estilos del Hero */